/* Primero, usaba css para subrayar. Luego, hice cambios y dejó de funcionar lo que tenía. Así que decidí usar style porque es un texto sencillo. 
NOTA: repasar prioridad en especificidad 
#parr1{
    color: rgb(59, 59, 243);
}
em{
    color: blue;
    background-color: beige;
}
#parr2{
    color: gray;
}
i{
    color: yellow;
    background-color: black;

}
*/
