.container{
    margin-top: 0px;
}
.uno{
    background-color: aqua;
}
.dos{
    background-color: bisque;
}
.ancho{
    background-color: coral;
}
.nuno{
    background-color: yellow;
}
.ntres{
    background-color: crimson;
}
body{
    padding: 30px;
}