body{
    background-color: rgb(250, 217, 217);
}
.oracion1{
    color: white;
    background-color: red;
    font-family: 'Roboto Slab', serif;
    font-size: large;
}
.oracion2{
    color: rgb(9, 31, 153);
    font-size: 16*1.2;
}
i:hover{
    color: brown;
}