*{

}
.padre{
    font-size: 24px;
}
.parrafo1{
    font-family: cursive;
    font-size: 1.5rem;
}
/* Google utiliza 16px. Para modificarlo, podemos hacer 16*1.5 */
.parrafo2{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}
/* root em = rem
toma en cuenta el tamaño de fuente fijado por el navegador utilizado */